/* buttons */
.btn{
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: 1px solid transparent;
	text-align: center;
	border-radius: $btn-border-radius-base;
	font-weight: $btn-font-weight;
	font-size: $btn-font-size;
	line-height: $btn-line-height;
	padding: 10px 38px;
	color: $btn-color;
	width: 100%;
	max-width: 160px;
	&.active:focus,
	&.active:hover,
	&:focus,
	&:active,
	&:hover{
		box-shadow: none;
		outline: none;
	}
}
.btn-default{
	background: $white;
	border: 1px solid $gray;
	color: $gray;
	&.active:focus,
	&.active:hover,
	&:focus,
	&:active,
	&:hover{
		box-shadow: 0 0 4px 1px rgba(255, 102, 0, 0.7);
	}
}
/*end btn*/