// vars
$fonts: '../fonts/';
$images: '../images/';

// fonts
$OpenSans: 'Open Sans', sans-serif;

$breakpoints: (
	phone-xs: 375px,
	phone: 768px,
	tablet: 992px,
	desktop: 1200px,
	desktop_lg: 1400px,
);

// font settings
$grid-gutter-width: 15px;
$container-large-desktop: 1170px;

$font-family-base: $OpenSans;
$font-size-base: 16px;
$line-height-base: 1.25;
$font-size-h1: 30px;
$font-size-h2: 24px;
$font-size-h3: 25px;
$font-size-h4: 24px;

$paragraph-spacing: 0 0 15px;

$hover-opacity: 0.8;
$time-animation: 0.3s;

// colors
$white: #fff;
$black: #000;
$gray: #333;
$emperor: #555555;
$royal: #5363db;
$boulder: #777777;
$dusty: #999999;




$base-color: $black;
$body-bg: $white;

$link-color: $black;

$btn-color: $black;
$btn-border-radius-base: 30px;
$btn-font-size: 13px;
$btn-line-height: 18px;
$btn-font-weight: 400;
$btn-min-width: 205px;