/* header */
.header-page{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: $white;
	background: $white;
	z-index: 200;
	height: 100px;
	box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.15);
	@include media('<tablet') {
		height: 70px;
	}
	&.modify{
		position: fixed;
	}
	&__wrap{
		display: flex;
		align-items: center;
		color:#000;
		margin-left: -67px;
	}
}
.logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-80%, -50%);
	width: 68px;
	height: 68px;
	background: url('#{$images}logo.png') no-repeat 50% 50%;
	background-size: 100% auto;
	overflow: hidden;
	text-indent: -9999px;
	margin: 0 20px;
	@include media('<tablet') {
		width: 50px;
		height: 50px;
	}
	@include media("<phone"){
		width: 50px;
		height: 50px;
		left: 0;
		transform: translate(0, -50%);
	}
	@include media("<500px"){
		z-index: 200;
	}
	&__link{
		display: block;
		height: 100%;
	}
}

.open-menu{
	width: 48px;
	height: 33px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	transition: .5s ease-in-out;
	cursor: pointer;
	display: none;
	z-index: 100;
	@include media("<tablet"){
		display: block;
	}

	span{
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: rgba(83,99,219,0.7);
		opacity: 1;
		left: 5px;
		border-radius: 10px;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
		overflow: hidden;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: auto;
			right: 0;
			bottom: 0;
			width: 0;
			background-color: $royal;
			transition: all .3s ease-out;
		}
		&:nth-child(1){
			top: 6px;
			width: 25px;
			left: 12px;
		}
		&:nth-child(2){
			background: transparent;
		}
		&:nth-child(2),
		&:nth-child(3){
			top: 15px;
			width: 32px;
		}
		&:nth-child(4){
			top: 24px;
			width: 20px;
			left: 17px;
		}
	}
	&:hover{
		span{
			&:after{
				width: 100%;
			}
		}
	}
}

.menu-opened{
	@include media("<tablet"){
		overflow: hidden;
		.open-menu{
			span{
				&:nth-child(1){
					top: 18px;
					width: 0%;
					left: 50%;
				}
				&:nth-child(2){
					transform: rotate(45deg);
					width: 20px;
					left: 12px;
				}
				&:nth-child(3){
					transform: rotate(-45deg);
					width: 20px;
					left: 12px;
				}
				&:nth-child(4){
					top: 18px;
					width: 0%;
					left: 50%;
				}
			}
		}
		.main-nav{
			opacity: 1;
			right: 0;
		}
		.fader{
			opacity: .45;
			visibility: visible;
		}
	}
}

.fader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $gray;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
	z-index: 75;
	cursor: pointer;
}